apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
        - name: PROJECT
          image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
          ports:
            - containerPort: PORT_CONTAINER
          env:
            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: PORT
            - name: INTERNAL_API_KEY
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: INTERNAL_API_KEY
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: DATABASE_URL
            - name: IS_SWAGGER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: IS_SWAGGER_ENABLED
            - name: INCLUDE_TESTING_MODULE
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: INCLUDE_TESTING_MODULE
            - name: S3_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: S3_ENDPOINT
            - name: S3_REGION
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: S3_REGION
            - name: S3_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: S3_ACCESS_KEY_ID
            - name: S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: S3_SECRET_ACCESS_KEY
            - name: S3_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: S3_BUCKET_NAME
            - name: NODE_ENV
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-files-production-config-secret
                  key: NODE_ENV
