apiVersion: apps/v1
kind: Deployment
metadata:
  name: DEPLOYMENT_NAME
  namespace: NAMESPACE
  labels:
    app: PROJECT
spec:
  selector:
    matchLabels:
      project: PROJECT
  template:
    metadata:
      namespace: NAMESPACE
      labels:
        project: PROJECT
    spec:
      containers:
        - name: PROJECT
          image: REGISTRY_HOSTNAME/PROJECT:TAG_VERSION
          ports:
            - containerPort: PORT_CONTAINER
          env:
            - name: PORT
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: PORT
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: DATABASE_URL
            - name: IS_SWAGGER_ENABLED
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: IS_SWAGGER_ENABLED
            - name: INCLUDE_TESTING_MODULE
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: INCLUDE_TESTING_MODULE
            - name: NODE_ENV
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: NODE_ENV
            - name: RMQ_URL
              valueFrom:
                secretKeyRef:
                  name: lumio-back-end-payments-production-config-secret
                  key: RMQ_URL
