NODE_ENV=example

#INFRASTRUCTURE + SECRETS
PORT=3003
INTERNAL_API_KEY="example"

#DATABASE 
DATABASE_URL="postgresql://login:password@localhost:5432/lumio"

#GRAPHQL
IS_GRAPHQL_PLAYGROUND_ENABLED=true

FILE_SERVICE_URL="http://localhost:3001/api/v1"
PAYMENTS_SERVICE_URL="http://localhost:3002/api/v1"
