NODE_ENV=development

#INFRASTRUCTURE + SECRETS + DANGEROUS CONFIGURATION
PORT=3006
INTERNAL_SERVICE_NAME="chat"
INTERNAL_API_KEY="example"
INTERNAL_API_KEYS=lumio:example-lumio-to-chat-key

#DATABASE
DATABASE_URL="postgresql://login:password@localhost:5432/example"

#DOCUMENTATION
IS_SWAGGER_ENABLED=true

#TESTING
INCLUDE_TESTING_MODULE=true

#URL
FRONTEND_URL="http://localhost:3006"
FILES_SERVICE_URL="http://localhost:3003/api/v1"
