NODE_ENV=example

#INFRASTRUCTURE + SECRETS + DANGEROUS CONFIGURATION
PORT=3004
INTERNAL_API_KEY="example"

#DATABASE
DATABASE_URL="postgresql://login:password@localhost:5435/chat"

#DOCUMENTATION
IS_SWAGGER_ENABLED=true

#TESTING
INCLUDE_TESTING_MODULE=true

#RABBITMQ
RABBITMQ_URL="amqp://localhost:5672"
RABBITMQ_QUEUE="chat_queue"
